body {
  font-family: sans-serif;
  background-color: rgb(237, 237, 237);
}

header {
  background-color: rgb(110, 0, 149);
  height: 3.2rem;
}

.hidden {
  display: none !important;
}

.vis-hidden {
  visibility: hidden;
}

.nav {
  display: flex;
  align-items: baseline;
  margin-top: 0.9rem;
}

.nav h2 {
  color: white;
  margin: 0;
  font-weight: lighter;
  font-size: 1.1rem;
}

.nav > a {
  color: white;
  text-decoration: none;
  display: block;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.nav-container,
.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

h1 {
  margin: 1rem 0;
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  width: 85%;
  display: inline;
}

img {
  border-radius: 4px;
}

label,
input,
textarea,
img {
  width: 100%;
}

input,
textarea {
  border-radius: 4px;
  border: 1px solid rgb(206, 206, 206);
  margin-top: 0.8rem;
}

input:focus,
textarea:focus {
  border: 3px solid rgb(110, 0, 149);
}

label {
  font-weight: bold;
}

#delete-container,
#save-container {
  width: 50%;
}

#delete-container {
  margin-top: 2rem;
}

#save-container {
  margin-top: 0.8rem;
}

.column-half > .deletebtn {
  color: red;
}

.column-half > #submitbtn {
  background-color: rgb(110, 0, 149);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 80px;
  float: right;
}

#url,
#title {
  height: 2rem;
}

.inner-row {
  margin-bottom: 2rem;
}

p {
  width: 100%;
}

i {
  float: right;
  color: rgb(110, 0, 149);
}

i:hover {
  opacity: 0.7;
}

[data-view="entries"].container p {
  color: black;
}

[data-view="entries"].container > .row .column-half {
  width: 50%;
}

[data-view="entries"].container .column-full > p {
  text-align: center;
}

.container .newbtn a {
  color: white;
  background-color: rgb(110, 0, 149);
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  display: block;
  border-radius: 4px;
  margin-top: 1rem;
  float: right;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.delete-modal {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 80%);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.delete-modal.show {
  visibility: visible;
}

.modal-content {
  width: 340px;
  height: 135px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.deleteask {
  width: 100%;
  position: relative;
  top: 10%;
  text-align: center;
}

.modalbtn {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.cancelbtn,
.confirmbtn {
  height: 35px;
  border-radius: 5px;
  border-style: none;
  font-size: 1rem;
  cursor: pointer;
}

.cancelbtn {
  width: 85px;
  background-color: rgb(188, 188, 188);
}

.confirmbtn {
  width: 95px;
  background-color: rgb(255, 0, 0);
  color: white;
}

@media screen and (max-width: 767px) {
  .image-upload {
    height: 240px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .nav-container,
  .container {
    max-width: 900px;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .column-half {
    width: 49%;
    margin-bottom: 2rem;
  }

  li .column-half {
    width: 48%;
  }

  li {
    margin-bottom: 1rem;
  }

  .modal-content {
    left: 40%;
  }
}
